@font-face {
  font-family: 'OpenSans-Bold';
  src: url("/fonts/OpenSans-Bold.eot") format("eot"), url("/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/fonts/OpenSans-Regular.eot") format("eot"), url("/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("/fonts/OpenSans-Light.eot") format("eot"), url("/fonts/OpenSans-Light.ttf"); }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 75%; } }

body,
html {
  margin: 0;
  padding: 0; }

body {
  font-family: "OpenSans-Regular", sans-serif, Arial; }

.align--center {
  text-align: center; }

.link {
  color: #a4a4a4;
  font-size: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .link::after, .link::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s;
      width: 0; }
    .link:hover {
      color: #fff; }
      .link:hover::before {
        border-top: 1px solid #5e8ce4;
        right: 0;
        width: 100%; }
      .link:hover::after {
        border-bottom: 1px solid #5e8ce4;
        left: 0;
        width: 100%; } }
  @media screen and (min-width: 768px) {
    .link {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1024px) {
    .link {
      font-size: 1rem; } }

.sub-title {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 5px; }

.btn {
  background: #e0e1e2 none;
  border-radius: 5px;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  outline: 0;
  padding: 7px 10px;
  text-align: center;
  font-size: 1.0rem; }

.form-control,
.ui-selectmenu-button.ui-button {
  line-height: 1.21428571em;
  background: #fff;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  padding: .67857143em 1em; }

.form-group .ui-selectmenu-button.ui-button {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: .57857143em;
  padding-bottom: .57857143em; }

.form-group {
  /* Customize the label (the form-checkbox) */
  /* Create a custom checkbox */ }
  .form-group .form-checkbox {
    cursor: pointer;
    display: block;
    font-size: 1.0rem;
    font-weight: normal;
    margin-bottom: 12px;
    padding-left: 25px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .form-group .form-checkbox input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0; }
      .form-group .form-checkbox input:checked ~ .checkmark {
        background-color: #2196F3; }
      .form-group .form-checkbox input:checked ~ .checkmark:after {
        visibility: visible; }
    .form-group .form-checkbox:hover input ~ .checkmark {
      background-color: #ccc; }
  .form-group .checkmark {
    background-color: #eee;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 15px; }
    .form-group .checkmark:after {
      border: solid white;
      border-width: 0 1px 1px 0;
      content: "";
      height: 8px;
      left: 5px;
      position: absolute;
      top: 1px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      visibility: hidden;
      width: 3px; }

/* @import '../settings/index';
//Common Styles
.align--center {
  text-align: center;
}

.link {
  color: $color-text-primary;
  font-size: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    &::after,
    &::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: width .5s;
      width: 0;
    }

    &:hover {
      color: $color-base;
      &::before {
        border-top: 1px solid $color-button-primary;
        right: 0;
        width: 100%;
      }

      &::after {
        border-bottom: 1px solid $color-button-primary;
        left: 0;
        width: 100%;
      }
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 1.4rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 1rem;
  }
}
 */
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("/fonts/OpenSans-Bold.eot") format("eot"), url("/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/fonts/OpenSans-Regular.eot") format("eot"), url("/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("/fonts/OpenSans-Light.eot") format("eot"), url("/fonts/OpenSans-Light.ttf"); }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 75%; } }

body,
html {
  margin: 0;
  padding: 0; }

body {
  font-family: "OpenSans-Regular", sans-serif, Arial; }

.align--center {
  text-align: center; }

.link {
  color: #a4a4a4;
  font-size: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .link::after, .link::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s;
      width: 0; }
    .link:hover {
      color: #fff; }
      .link:hover::before {
        border-top: 1px solid #5e8ce4;
        right: 0;
        width: 100%; }
      .link:hover::after {
        border-bottom: 1px solid #5e8ce4;
        left: 0;
        width: 100%; } }
  @media screen and (min-width: 768px) {
    .link {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1024px) {
    .link {
      font-size: 1rem; } }

.sub-title {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 5px; }

/************Footer style**********/
.site-footer {
  background-color: #202529;
  padding-bottom: 1rem;
  padding-top: 2rem; }
  .site-footer .link--footer {
    display: inline-block;
    margin-right: 2rem; }
  .site-footer .footer__links {
    padding-left: 1rem;
    padding-right: 1rem; }
  .site-footer .footer__social-icons {
    margin-bottom: 4rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  .site-footer .footer__social-icon {
    fill: #a4a4a4; }
    .site-footer .footer__social-icon:hover {
      fill: #fff;
      -webkit-transition: fill .3s linear;
      -o-transition: fill .3s linear;
      transition: fill .3s linear; }
  .site-footer .footer__social-link {
    display: inline-block;
    margin-right: 2rem;
    padding-bottom: 1rem; }
  .site-footer .footer__copyright {
    border-top: 1px solid #333;
    color: #a4a4a4;
    font-size: .8rem;
    margin-bottom: 0;
    padding-top: 1rem; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("/fonts/OpenSans-Bold.eot") format("eot"), url("/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/fonts/OpenSans-Regular.eot") format("eot"), url("/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("/fonts/OpenSans-Light.eot") format("eot"), url("/fonts/OpenSans-Light.ttf"); }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 75%; } }

body,
html {
  margin: 0;
  padding: 0; }

body {
  font-family: "OpenSans-Regular", sans-serif, Arial; }

.align--center {
  text-align: center; }

.link {
  color: #a4a4a4;
  font-size: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .link::after, .link::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s;
      width: 0; }
    .link:hover {
      color: #fff; }
      .link:hover::before {
        border-top: 1px solid #5e8ce4;
        right: 0;
        width: 100%; }
      .link:hover::after {
        border-bottom: 1px solid #5e8ce4;
        left: 0;
        width: 100%; } }
  @media screen and (min-width: 768px) {
    .link {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1024px) {
    .link {
      font-size: 1rem; } }

.sub-title {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 5px; }

/************Header style**********/
.site-header {
  background-color: #202529;
  -webkit-box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  position: relative; }
  @media screen and (min-width: 768px) {
    .site-header {
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 5rem; } }
  .site-header .site-logo {
    margin: 0 0 0 5rem; }
  .site-header .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0; }
    @media screen and (min-width: 768px) {
      .site-header .menu {
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .site-header .hide-menu .menu__item {
    position: absolute;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%); }
  .site-header .show-menu .menu__item {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .site-header .menu__item {
    list-style: none;
    padding: 1.2rem 1.5rem 1.2rem 5rem; }
    @media screen and (min-width: 768px) {
      .site-header .menu__item {
        padding: 0 1.5rem 0 0; } }
    .site-header .menu__item:not(:last-of-type) {
      border-bottom: 1px solid #464646; }
      @media screen and (min-width: 768px) {
        .site-header .menu__item:not(:last-of-type) {
          border-bottom: 0; } }
  .site-header .site-logo__link {
    color: #fff;
    font-size: 2.4rem;
    text-decoration: none; }
  .site-header .header__button--normal {
    background-color: #5e8ce4;
    border: 1px solid transparent;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    padding: 6px 30px 7px;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-property: background, color, border;
    -o-transition-property: background, color, border;
    transition-property: background, color, border;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    vertical-align: top; }
    .site-header .header__button--normal:hover {
      background-color: #003ecb; }
  .site-header .header__button--toggle {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 15px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 30px; }
    @media screen and (min-width: 768px) {
      .site-header .header__button--toggle {
        display: none; } }
    .site-header .header__button--toggle.open .line:nth-child(1) {
      left: 8px;
      top: -5px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .site-header .header__button--toggle.open .line:nth-child(2) {
      opacity: 0;
      width: 0%; }
    .site-header .header__button--toggle.open .line:nth-child(3) {
      left: 8px;
      top: 16px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .site-header .line {
    background-color: #fff;
    display: block;
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    width: 100%; }
    .site-header .line:nth-child(1) {
      top: 0; }
    .site-header .line:nth-child(2) {
      top: 8px; }
    .site-header .line:nth-child(3) {
      top: 16px; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("/fonts/OpenSans-Bold.eot") format("eot"), url("/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/fonts/OpenSans-Regular.eot") format("eot"), url("/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("/fonts/OpenSans-Light.eot") format("eot"), url("/fonts/OpenSans-Light.ttf"); }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 75%; } }

body,
html {
  margin: 0;
  padding: 0; }

body {
  font-family: "OpenSans-Regular", sans-serif, Arial; }

.align--center {
  text-align: center; }

.link {
  color: #a4a4a4;
  font-size: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .link::after, .link::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s;
      width: 0; }
    .link:hover {
      color: #fff; }
      .link:hover::before {
        border-top: 1px solid #5e8ce4;
        right: 0;
        width: 100%; }
      .link:hover::after {
        border-bottom: 1px solid #5e8ce4;
        left: 0;
        width: 100%; } }
  @media screen and (min-width: 768px) {
    .link {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1024px) {
    .link {
      font-size: 1rem; } }

.sub-title {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 5px; }

/************Form style**********/
.btn {
  background: #e0e1e2 none;
  border-radius: 5px;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  outline: 0;
  padding: 7px 10px;
  text-align: center;
  font-size: 1.0rem; }

.form-control,
.ui-selectmenu-button.ui-button {
  line-height: 1.21428571em;
  background: #fff;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  padding: .67857143em 1em; }

.form-group .ui-selectmenu-button.ui-button {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: .57857143em;
  padding-bottom: .57857143em; }

.form-group {
  /* Customize the label (the form-checkbox) */
  /* Create a custom checkbox */ }
  .form-group .form-checkbox {
    cursor: pointer;
    display: block;
    font-size: 1.0rem;
    font-weight: normal;
    margin-bottom: 12px;
    padding-left: 25px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .form-group .form-checkbox input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0; }
      .form-group .form-checkbox input:checked ~ .checkmark {
        background-color: #2196F3; }
      .form-group .form-checkbox input:checked ~ .checkmark:after {
        visibility: visible; }
    .form-group .form-checkbox:hover input ~ .checkmark {
      background-color: #ccc; }
  .form-group .checkmark {
    background-color: #eee;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 15px; }
    .form-group .checkmark:after {
      border: solid white;
      border-width: 0 1px 1px 0;
      content: "";
      height: 8px;
      left: 5px;
      position: absolute;
      top: 1px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      visibility: hidden;
      width: 3px; }

.form-group {
  margin-bottom: 8px; }

.form-group label {
  display: block;
  margin: 0 0 4px 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: none; }

.form-control {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("/fonts/OpenSans-Bold.eot") format("eot"), url("/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/fonts/OpenSans-Regular.eot") format("eot"), url("/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("/fonts/OpenSans-Light.eot") format("eot"), url("/fonts/OpenSans-Light.ttf"); }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 75%; } }

body,
html {
  margin: 0;
  padding: 0; }

body {
  font-family: "OpenSans-Regular", sans-serif, Arial; }

.align--center {
  text-align: center; }

.link {
  color: #a4a4a4;
  font-size: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .link::after, .link::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s;
      width: 0; }
    .link:hover {
      color: #fff; }
      .link:hover::before {
        border-top: 1px solid #5e8ce4;
        right: 0;
        width: 100%; }
      .link:hover::after {
        border-bottom: 1px solid #5e8ce4;
        left: 0;
        width: 100%; } }
  @media screen and (min-width: 768px) {
    .link {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1024px) {
    .link {
      font-size: 1rem; } }

.sub-title {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 5px; }

/************Form style**********/
.btn {
  background: #e0e1e2 none;
  border-radius: 5px;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  outline: 0;
  padding: 7px 10px;
  text-align: center;
  font-size: 1.0rem; }

.form-control,
.ui-selectmenu-button.ui-button {
  line-height: 1.21428571em;
  background: #fff;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  padding: .67857143em 1em; }

.form-group .ui-selectmenu-button.ui-button {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: .57857143em;
  padding-bottom: .57857143em; }

.form-group {
  /* Customize the label (the form-checkbox) */
  /* Create a custom checkbox */ }
  .form-group .form-checkbox {
    cursor: pointer;
    display: block;
    font-size: 1.0rem;
    font-weight: normal;
    margin-bottom: 12px;
    padding-left: 25px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .form-group .form-checkbox input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0; }
      .form-group .form-checkbox input:checked ~ .checkmark {
        background-color: #2196F3; }
      .form-group .form-checkbox input:checked ~ .checkmark:after {
        visibility: visible; }
    .form-group .form-checkbox:hover input ~ .checkmark {
      background-color: #ccc; }
  .form-group .checkmark {
    background-color: #eee;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 15px; }
    .form-group .checkmark:after {
      border: solid white;
      border-width: 0 1px 1px 0;
      content: "";
      height: 8px;
      left: 5px;
      position: absolute;
      top: 1px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      visibility: hidden;
      width: 3px; }

.form-group {
  margin-bottom: 8px; }

.form-group label {
  display: block;
  margin: 0 0 4px 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: none; }

.form-control {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.flex-block-space {
  margin-left: -15px; }
  .flex-block-space .flex-block {
    margin-left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .flex-block-space .flex-block.flex-9 {
      -webkit-flex-basis: 65%;
          -ms-flex-preferred-size: 65%;
              flex-basis: 65%; }

.ui-icon {
  display: inline-block;
  float: left; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar {
  position: fixed;
  background-color: #1b1c1d;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  width: 250px;
  z-index: 1; }
  .sidebar h3 {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08); }
  .sidebar a {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px;
    text-decoration: none; }

.main-page {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  background: -o-linear-gradient(top, #75890c 0%, #a4b357 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #75890c), color-stop(100%, #a4b357));
  background: -webkit-linear-gradient(top, #75890c 0%, #a4b357 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#75890c), to(#a4b357));
  background: linear-gradient(to bottom, #75890c 0%, #a4b357 100%);
  background: #75890c;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75890c', endColorstr='#a4b357', GradientType=0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: Arial;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh; }
  .main-page h1, .main-page a {
    text-align: center;
    font-size: 35px; }
  .main-page a {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: Arial;
    color: #fff;
    text-decoration: none;
    width: 125px;
    font-size: 17px;
    margin: 0 auto; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 270px;
  min-width: 0px;
  padding-right: 20px; }

.wrap-code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 25px 0 50px; }
  .wrap-code .block-code {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 49%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
    overflow: hidden; }

.code {
  height: 200px;
  overflow: auto; }
